/* Retro base */


/* Layout */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
    background: #dcdcdc;
  color: #222;
    box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.main-wrapper {
  width: 360px;
  padding: 16px;
  background: #f7f7f5;
  border: 2px solid #444;
  box-shadow: 4px 4px 0 #000;
}


.now-playing__cover {
  width: 200px;
  height : 200px;
  object-fit: contain; /* important */
  margin-bottom: 12px;
  background: #ccc;
}


/* Track info */
.now-playing__side {
  border: 2px inset #aaa;
  padding: 8px;
  background: #dcdcdc;
  margin-bottom: 12px;
}

.now-playing__name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.now-playing__artist {
  font-size: 12px;
  color: #333;
}

.currentPos {
  font-size: 11px;
  margin-top: 4px;
  color: #555;
}

/* Progress */
.progress-container {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 11px;
  margin-bottom: 12px;
}

.progress-bar {
  flex: 1;
  height: 10px;
  border: 2px inset #aaa;
  background: #fff;
  cursor: pointer;
}

.progress-bar__fill {
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    #222,
    #222 4px,
    #555 4px,
    #555 8px
  );
  width: 0%;
}

/* Transport buttonss */
.btn-spotify {
  background: #dcdcdc;
  border: 2px outset #fff;
  color: #000;
  font-size: 16px;
  padding: 4px 8px;
  cursor: pointer;
  margin: 2px;
  border-radius: 0px;
}

.btn-spotify:active {
  border: 2px inset #fff;
}

.btn-spotify:disabled {
  color: #777;
  background: #dcdcdc;
  cursor: not-allowed;
}

/* Center controls */
.main-wrapper > .btn-spotify {
  display: inline-block;
}

/* Volume */
.volume {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}

.vol-down,
.vol-up {
  background: #dcdcdc;
  border: 2px outset #fff;
  padding: 4px 6px;
  font-size: 14px;
  cursor: pointer;
}

.vol-down:active,
.vol-up:active {
  border: 2px inset #fff;
}

.vol-down:disabled,
.vol-up:disabled {
  color: #777;
  background: #dcdcdc;
}



.btn-spotify-login {
background: #dcdcdc;
  border: 2px outset #fff;
  color: #000;
  font-size: 16px;
  padding: 4px 8px;
  cursor: pointer;
  margin: 2px;
  border-radius: 0px;
}

